<%- include("../components/header.ejs") %>

<body>
    <%- include("../components/navigation.ejs") %>

    <div class="wrapper">
        <h1>HUGE Thank you to everyone involved in this project!</h1>
        <span>TODO: add images under each developer</span>
        <ul>
            <li>Iliyan Ignatov - Creating connection to db, getting all products and supplying them to template</li>
            <li>Kaloyan Donchev - Register frontside validation and backend registration handling, displaying products on templates</li>
            <li>Kaloyan Nechev - Creating templates, components and styling them</li>
            <li>Dilyan Kumanov - Creating Layouts, Logos and Designs in photoshop, picking color schemes and fonts</li>
            <li>Krisi Ilieva - Creating and organizing items, supplying with images</li>
            <li>Kristiyan Bozhankov - Managing the project and assisting the developers</li>
        </ul>
    </div>
    <%- include("../components/footer.ejs") %>
</body>
</html>