<%- include('../components/header.ejs')%>
<%- include('../components/navigation.ejs') %>
<div class="wrapper">
    <div class="sidefilter">

        <div class="itemflex">
            <div class="itemboxes">
                <div class="itemboxes-picture">
                    <img src="http://static1.businessinsider.com/image/59c14b709803c50d098b68e0-876/lede.jpg">
                </div>
                <div class="itemboxes-text">
                    <h1>item name #1</h1>
                    <h3 class="price">price</h3>
                    <h3 class="shipping">shipping to Bulgaria</h3>
                    <button class="itemboxes-buybutton">Buy</button>
                </div>
            </div>
            <div class="itemboxes">
                <div class="itemboxes-picture">
                    <img src="http://static1.businessinsider.com/image/59c14b709803c50d098b68e0-876/lede.jpg">
                </div>
                <div class="itemboxes-text">
                    <h1>item name #1</h1>
                    <h3 class="price">price</h3>
                    <h3 class="shipping">shipping to Bulgaria</h3>
                    <button class="itemboxes-buybutton">Buy</button>
                </div>
            </div>
            <div class="itemboxes">
                <div class="itemboxes-picture">
                    <img src="http://static1.businessinsider.com/image/59c14b709803c50d098b68e0-876/lede.jpg">
                </div>
                <div class="itemboxes-text">
                    <h1>item name #1</h1>
                    <h3 class="price">price</h3>
                    <h3 class="shipping">shipping to Bulgaria</h3>
                    <button class="itemboxes-buybutton">Buy</button>
                </div>
            </div>
            <div class="itemboxes">
                <div class="itemboxes-picture">
                    <img src="http://static1.businessinsider.com/image/59c14b709803c50d098b68e0-876/lede.jpg">
                </div>
                <div class="itemboxes-text">
                    <h1>item name #1</h1>
                    <h3 class="price">price</h3>
                    <h3 class="shipping">shipping to Bulgaria</h3>
                    <button class="itemboxes-buybutton">Buy</button>
                </div>
            </div>
            <div class="itemboxes">
                <div class="itemboxes-picture">
                    <img src="http://static1.businessinsider.com/image/59c14b709803c50d098b68e0-876/lede.jpg">
                </div>
                <div class="itemboxes-text">
                    <h1>item name #1</h1>
                    <h3 class="price">price</h3>
                    <h3 class="shipping">shipping to Bulgaria</h3>
                    <button class="itemboxes-buybutton">Buy</button>
                </div>
            </div>
            <div class="itemboxes">
                <div class="itemboxes-picture">
                    <img src="http://static1.businessinsider.com/image/59c14b709803c50d098b68e0-876/lede.jpg">
                </div>
                <div class="itemboxes-text">
                    <h1>item name #1</h1>
                    <h3 class="price">price</h3>
                    <h3 class="shipping">shipping to Bulgaria</h3>
                    <button class="itemboxes-buybutton">Buy</button>
                </div>
            </div>
            <div class="itemboxes">
                <div class="itemboxes-picture">
                    <img src="http://static1.businessinsider.com/image/59c14b709803c50d098b68e0-876/lede.jpg">
                </div>
                <div class="itemboxes-text">
                    <h1>item name #1</h1>
                    <h3 class="price">price</h3>
                    <h3 class="shipping">shipping to Bulgaria</h3>
                    <button class="itemboxes-buybutton">Buy</button>
                </div>
            </div>
            <div class="itemboxes">
                <div class="itemboxes-picture">
                    <img src="http://static1.businessinsider.com/image/59c14b709803c50d098b68e0-876/lede.jpg">
                </div>
                <div class="itemboxes-text">
                    <h1>item name #1</h1>
                    <h3 class="price">price</h3>
                    <h3 class="shipping">shipping to Bulgaria</h3>
                    <button class="itemboxes-buybutton">Buy</button>
                </div>
            </div>

        </div>
    </div>
</div>