<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <title>Zvzdc Shop</title>
</head>

<body>
    <%- include('navigation.ejs') %>
    <div class="wrapper">
        <div class="error-container">
            <div class="error-center">
                <h1>4 0 4</h1>
                <h2>The page you are looking for could not be found!</h2>
            </div>
        </div>
    </div>
    <%- include('footer.ejs') %>
</body>

</html>