<%- include("header.ejs")%>

    <body>
        <%- include("navigation.ejs")%>
        <div class="wrapper">
            <div class="register">
                <form>
                    <div class="formElement">
                        <label for="rusername">Username</label>
                        <input type="text" id="rusername" name="Username">
                    </div>

                    <div class="formElement">
                        <label for="rpassword">Password</label>
                        <input type="password" id="rpassword" name="Password">
                    </div>
                    <div class="formElement">
                        <label for="rconfirmpassword">Confirm Password</label>
                        <input type="password" id="rconfirmpassword" name="Password">
                    </div>

                    <div class="formElement">
                        <label for="remail">Email</label>
                        <input type="text" id="remail" name="Email">
                    </div>

                    <div class="formElement">
                        <label for="rfirstname">First Name</label>
                        <input type="text" id="rfirstname" name="FirstName">
                    </div>
                    <div class="formElement">
                        <label for="rfamilyname">Family Name</label>
                        <input type="text" id="rfamilyname" name="FamilyName">
                    </div>

                    <input type="submit" value="Register" id="registerButton">

                </form>
            </div>

            <div class="login hidden">
                <form>
                    <div class="formElement">
                        <label for="lusername">Username</label>
                        <input type="text" id="lusername" name="Username">
                    </div>

                    <div class="formElement">
                        <label for="lpassword">Password</label>
                        <input type="password" id="lpassword" name="Password">
                    </div>

                    <input type="submit" value="Login" id="loginbtn">

                </form>
            </div>
        </div>
    </body>

</html>