<%- include("header.ejs")%>

    <body>
        <%- include("navigation.ejs")%>
        <div class="wrapper">
            <div class="register">
                <form action="">
                    <label for="rusername">Username</label>
                    <input type="text" id="rusername" name="rusername" value="Username">
                    <label for="rpassword">Password</label>
                    <input type="text" id="rpassword" name="rpassword" value="Password">
                    <input type="submit" value="Register" id="registerButton">
                </form>
            </div>
        </div>
    </body>

</html>