<div class="bignavigation">
    <div class="wraper">
        <div class="logo"></div>
        <ul class="navigation-ul">

            <li class="dropdown">

                <a href="#" class="dropbtn">Button 1</a>
                <div class="dropdown-content">
                    <a href="#">Link 1</a>
                    <a href="#">Link 2</a>
                    <a href="#">Link 3</a>

                </div>
            </li>

            <li class="dropdown">
                <a href="#" class="dropbtn">Button 2</a>

            </li>

            <li class="dropdown">
                <a href="#" class="dropbtn">Button 3</a>
            </li>

            <li class="dropdown">
                <a href="#" class="dropbtn">Button 4</a>
            </li>
        </ul>
    </div>
</div>