<div class="wraper">
    <div class="shopstorybox">
        <div class="shopstorybox-picture">
            <img src="http://static1.businessinsider.com/image/59c14b709803c50d098b68e0-876/lede.jpg">
        </div>
        <div class="shopstorybox-text">
            <h1>test text for image #1</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus perspiciatis corrupti accusantium ipsa repellendus iure nemo? Perferendis tempora vel incidunt mollitia accusantium vero dolore quo ex repellat, nemo cumque reprehenderit. </p>
        </div>
    </div>

    <div class="shopstorybox inverted">
        <div class="shopstorybox-picture">
            <img src="http://static1.businessinsider.com/image/59c14b709803c50d098b68e0-876/lede.jpg">
        </div>
        <div class="shopstorybox-text">
            <h1>test text for image #1</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus perspiciatis corrupti accusantium ipsa repellendus iure nemo? Perferendis tempora vel incidunt mollitia accusantium vero dolore quo ex repellat, nemo cumque reprehenderit. </p>
        </div>
    </div>

    <div class="shopstorybox">
        <div class="shopstorybox-picture">
            <img src="http://static1.businessinsider.com/image/59c14b709803c50d098b68e0-876/lede.jpg">
        </div>
        <div class="shopstorybox-text">
            <h1>test text for image #1</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus perspiciatis corrupti accusantium ipsa repellendus iure nemo? Perferendis tempora vel incidunt mollitia accusantium vero dolore quo ex repellat, nemo cumque reprehenderit. </p>
        </div>
    </div>
</div>